<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    <title><%if(typeof pagedata!=='undefined' && pagedata.title){
      %><%- pagedata.title %><%
    } else if(locals.extension.reactadmin.settings.title){
      %><%- locals.extension.reactadmin.settings.title %><%
    } else if(locals.extension.reactadmin.settings.name){
      %><%- locals.extension.reactadmin.settings.name %><%
    } else{%>'Welcome'<%}%></title>
    <link href="/extensions/periodicjs.ext.reactadmin/static/css/main.c75eea6b.css" rel="stylesheet">
    <%- (locals.extension.reactadmin.settings.custom_css_stylesheet)?`<link href="${locals.extension.reactadmin.settings.custom_css_stylesheet}" rel="stylesheet">`:'' %>
    <script type="text/javascript">
      <%- locals.viewhelper.passObjToClient(locals.extension.reactadmin.settings,"__padmin") %>
    </script>
  </head>
  <body>
    <div id="root"><%- (typeof body!=='undefined')?body:'' %></div>
    <script type="text/javascript" src="/extensions/periodicjs.ext.reactadmin/static/js/main.2d27c593.js"></script>
  </body>
</html>
