<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    <title><%if(typeof pagedata!=='undefined' && pagedata.title){
      %><%- pagedata.title %><%
    } else if(locals.extension.reactadmin.settings.title){
      %><%- locals.extension.reactadmin.settings.title %><%
    } else if(locals.extension.reactadmin.settings.name){
      %><%- locals.extension.reactadmin.settings.name %><%
    } else{%>'Welcome'<%}%></title>
    <link href="/extensions/periodicjs.ext.reactadmin/static/css/main.6366c3e8.css" rel="stylesheet">
    <%- (locals.extension.reactadmin.settings.custom_css_stylesheet)?`<link href="${locals.extension.reactadmin.settings.custom_css_stylesheet}" rel="stylesheet">`:'' %>
    <% if(locals.extension.reactadmin.settings.application.additional_header){ %><%- include(`../../../../content/themes/${locals.theme_name}/views/shared/reactadmin/header`,{locals}) ;%><% } %>
  </head>
  <body>
    <div id="root"><%- (typeof body!=='undefined')?body:'' %></div>
    <script type="text/javascript">
      <%- locals.viewhelper.passObjToClient(locals.extension.reactadmin.settings,"__padmin") %>
    </script>
    <script type="text/javascript" src="/extensions/periodicjs.ext.reactadmin/static/js/main.a4b8fbc7.js"></script>
    <% if(locals.extension.reactadmin.settings.application.additional_footer){ %><%- include(`../../../../content/themes/${locals.theme_name}/views/shared/reactadmin/footer`,{locals}) ;%><% } %>
  </body>
</html>